<a>
    <img 
        *ngIf="article.imagen_article == null || !article.imagen_article || article.imagen_article == '' " 
        src="./assets/images/default.jpg" class="d-block w-100" alt="Imagen del articulo: {{article.titulo_article}}"
    />
    <img *ngIf="article.imagen_article != null" src="{{article.imagen_article}}" class="d-block w-100" alt="Imagen del articulo: {{article.titulo_article}}">
</a>

<h1>{{article.titulo_article}}</h1>
<hr />

<div class="d-flex justify-content-between flex-wrap mb-3">
    <span>Fecha: <span>{{article.date_created_article | amDateFormat: 'DD-MM-YYYY'}}</span>
    </span>
    <span>{{article.name_user}} {{article.lastname_user}}</span>
</div>

<div id="content">

    {{article.contenido_article}}

</div>