<div class="d-flex justify-content-end" *ngIf="true">
    <button class="btn btn-warning me-1 mb-1" type="button">Editar artículo</button>
    <button class="btn btn-danger mb-1" type="button">Eliminar artículo</button>
</div>
<a href="#"><img src="https://via.placeholder.com/1500x500" class="d-block w-100" alt="..."></a>

<h1>{{article.titulo_article}}</h1>
<hr />

<div class="d-flex justify-content-between flex-wrap mb-3">
    <span>Fecha: <span>{{article.date_created_article | amDateFormat: 'DD-MM-YYYY'}}</span>
    </span>
    <span>{{article.name_user}} {{article.lastname_user}}</span>
</div>

<div id="content">

    {{article.contenido_article}}

</div>