<h1>{{page_title}}</h1>
<hr />

<form class="col-12 p-3" #articleForm="ngForm" (ngSubmit)="onSubmit()">

  <!-- <div *ngIf="is_edit">

  </div> -->

  <div class="mb-3">
    <label for="titulo" class="form-label">Título*</label>
    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="article.titulo_article" required />
  </div>

  <div class="mb-3" *ngIf="false">
    <label for="category" class="form-label">Categoría</label>
    <select
      id="category"
      class="form-select"
      aria-label="Default select example"
    >
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="mb-3" *ngIf="false">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Meta descripción</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Contenido*</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="10"
      name = "contenido"
      [(ngModel)]="article.contenido_article"
      required
    ></textarea>
  </div>

  <div class="mb-3">
    <label for="titulo" class="form-label">URL de la imagen</label>
    <input type="text" class="form-control" id="titulo" name="imagen" [(ngModel)]="article.imagen_article" />
  </div>

  <p class="fw-bold">Los campos marcados con (*) son obligatorios.</p>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary" [disabled]="articleForm.invalid">Guardar</button>
  </div>
</form>
