<h1>Login</h1>
<hr />

<div class="d-flex justify-content-center">

    <form class="col-12 col-sm-10 p-3 border" #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <div *ngIf="invalid" class="alert alert-danger alert-dismissible fade show col-12" role="alert">
            <i class="bi bi-exclamation-triangle-fill h5 me-2"></i>
             El usuario o la contraseña son incorrectos.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com" #email="ngModel" [(ngModel)]="cuenta.email" required>
            <small *ngIf="!email.valid && email.touched">
                El email no es válido
            </small>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" #password="ngModel" [(ngModel)]="cuenta.password" required>
            <small *ngIf="!password.valid && password.touched">
                Debe de rellenar el campo de la contraseña
            </small>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
    </form>
</div>