<h1>Acerca De</h1>
<hr />

<p>
    Esta aplicación ha sido desarrollada por Juan Molina Gómez como proyecto final del FP GS Desarrollo de Aplicaciones web.
</p>
Se tata de un sistema de blog que se compone de las siguientes tecnologías:
<ul>
    <li>Base de datos MySQL.</li>
    <li>Api RESTfull dinamica con PHP.</li>
    <li>Angular como frontend.</li>
    <li>Interfaz web con Bootstrap, SASS y HTML.</li>
</ul>


<h2 style="text-align: left;">¿Necesitas ponerte en contacto con migo?</h2>
<div style="text-align: left;">Puede ponerse en contacto con migo mediante los siguientes canales de comunicación:&nbsp;
</div>
<p></p>
<ul style="text-align: left;">
    <li>Web:&nbsp;<a href="https://www.pcmant.com/"
        target="_blank">https://www.pcmant.com/</a></li>
    <li>Twitter:&nbsp;<a href="https://twitter.com/ipcmant" target="_blank">https://twitter.com/ipcmant</a></li>
    <li>Facebook:&nbsp;<a href="https://www.facebook.com/ipcmant" target="_blank">https://www.facebook.com/ipcmant</a>
    </li>
    <li>Linkedin:&nbsp;<a href="https://www.linkedin.com/in/juanmol/"
            target="_blank">https://www.linkedin.com/in/juanmol/</a></li>
    <li>Email:&nbsp;<a href="mailto:info@pcmant.com">info@pcmant.com</a></li>
</ul>
<p></p>