 <!-- INICIO  ASIDE -->
 <aside id="sidebar">
  <div class="mb-3">
    <h3>Publicidad</h3>
    <div class="d-flex align-content-center col-12">
      <a href="#" target="_blank" rel="nofollow"><img src="https://via.placeholder.com/500x300" class="img-fluid" /></a>
    </div>
  </div>

  <div class="mb-3" *ngIf="logueado">
    <h3 class="mb-1">Sesión</h3>
    <div class="mb-1">Hola, Nombre Nombre</div>
    <button class="btn btn-danger m-1" type="button">Cerrar sesión</button>
    <button class="btn btn-success m-1" type="button">Crear artículo</button>
  </div>

  <div class="mb-3" *ngIf="false">
    <h3>Categorías</h3>
      <ul>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
      </ul>
  </div>

  <div class="mb-3">
    <h3>Políticas de privacidad</h3>
      <ul>
        <li><a [routerLink]="['politica-de-cookies']">Cookies</a></li>
        <li><a [routerLink]="['politica-de-privacidad']">Política de privacidad</a></li>
        <li><a [routerLink]="['aviso-legal']">Aviso legal</a></li>
      </ul>
  </div>
  </aside>
  <!-- FIN ASIDE -->
