 <!-- INICIO  ASIDE -->
 <aside id="sidebar">
  <div class="mb-3">
    <h3>Publicidad</h3>
    <div class="d-flex align-content-center col-12">
      <a href="https://www.pcmant.com/" target="_blank" rel="nofollow"><img src="./assets/images/publi_sidebar.png" class="img-fluid" /></a>
    </div>
  </div>

  <div class="mb-3" *ngIf="logueado">
    <h3 class="mb-1">Sesión</h3>
    <div class="mb-1">Hola, {{sesion[0].name_user}} {{sesion[0].lastname_user}}</div>
    <button class="btn btn-danger m-1" type="button" (click)="cerrarSesion()">Cerrar sesión</button>
    <button class="btn btn-success m-1" type="button" [routerLink]="['/blog/crear']">Crear artículo</button>
  </div>

  <div class="mb-3" *ngIf="false">
    <h3>Categorías</h3>
      <ul>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
        <li><a href="#">Categoría</a></li>
      </ul>
  </div>

  <div class="mb-3">
    <h3>Políticas de privacidad</h3>
      <ul>
        <li><a [routerLink]="['politica-de-cookies']">Cookies</a></li>
        <li><a [routerLink]="['politica-de-privacidad']">Política de privacidad</a></li>
        <li><a [routerLink]="['aviso-legal']">Aviso legal</a></li>
      </ul>
  </div>
  </aside>
  <!-- FIN ASIDE -->
