<h1>Blog</h1>
<hr/>
<!-- listado de artículos -->
<div articles id="articles">
    <!-- <article id="article-template" class="border p-2 my-2" *ngFor="let article of articles">
        <h3><a href="#" class="text-decoration-none text-black">{{article.titulo_article}}</a></h3>
        <div class="d-flex justify-content-between flex-wrap">
          <span>Fecha: <span>{{article.date_created_article}}</span></span>
          <span>Autor: {{article.name_user}} {{article.lastname_user}}</span>
        </div>
        <a href="#"><img src="https://via.placeholder.com/1500x500" class="d-block w-100" alt="..."></a>

        <div class="d-flex justify-content-end">
          <a href="#">Leer más</a>
        </div>
    </article> -->
  </div>